
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background-color: #ecf0f5 !important;
}

.span-edit {
  font-size: 20px !important;
  margin-left: 30px !important;
  color: #000 !important;
  font-weight: 500 !important;
}

.icon-edit {
  font-size: 32px !important;
}

.table-style {
  width: 85% !important;
  margin-right: auto !important;
  margin-left: auto !important;

}

.add-button {
  position: relative;
  left: 89px;
  bottom: 25px;
}

.table-head {
  display: flex;
  justify-content: end;
  position: relative;
  right: 91px;
  top: 13px;

}

.table-head-stayl{
  background-color: #1976d2;
  color: #fff;
}

.ticket{
  border-radius: 6px;
  /* padding: 23px; */
  background-color: #f2efef9e;
  cursor: pointer;
  width: 80%;
}
.addIcon{
  background-color: #1976d2;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}